/* mod-slider */

.mod-slider {
	width: 100%;
	height: 350px;
	background: #cccccc;
}

.mod-slider .slider-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.slider-list {
	width: 100%;
	height: 100%;
	transition: all .5s;
}

.slider-list .slider-item {
	width: 100%;
	height: 100%;
	position: absolute;
}

.slider-list .slider-item:nth-child(2) {
	transform: translateX(100%);
}
.slider-list .slider-item:nth-child(3) {
	transform: translateX(200%);
}
.slider-list .slider-item:nth-child(4) {
	transform: translateX(300%);
}
.slider-list .slider-item:nth-child(5) {
	transform: translateX(400%);
}
.slider-list .slider-item:nth-child(6) {
	transform: translateX(500%);
}

.slider-item .pic {
	width: 100%;
	height: auto;
}

.slider-item .slider-txt {
	position: absolute;
	right: 0;
	bottom: 30px;
	padding: 10px;
	background: rgba(0,0,0,0.8);
	color: #ffffff;
	font-size: 16px;
}

.slider-act .icon {
	position: absolute;
	display: block;
	width: 30px;
	height: 50px;
	top: 50%;
	transform: translateY(-50%);
	background-size: cover;
	opacity: 0;
	transition: all .5s;
	cursor: pointer;
}

.slider-act .icon.icon-arrow-l {
	left: 0;
	background-image: url('../../assets/img/arrow-l.jpg');
}

.slider-act .icon.icon-arrow-r {
	right: 0;
	background-image: url('../../assets/img/arrow-r.jpg');
}

.mod-slider:hover .slider-act .icon {
	opacity: 0.6;
}

.mod-slider .slider-act .icon:hover {
	opacity: 0.8;
}