/* mod-txt */

.mod-txt .txt-hd {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 10px;
}
.mod-txt .txt-hd h3 {
	font-size: 18px;
	color: #4a4a4a;
	line-height: 1.5;
	font-weight: bold;
}
.mod-txt .txt-hd h3 a {
	color: inherit;
}
.mod-txt .txt-bd p {
	line-height: 1.5;
	font-size: 16px;
	color: #5b5b5b;
}
.mod-txt a {
	color: #22409a;
}
.mod-txt .txt-bd .lan-item {
	display: inline-block;
	color: #5b5b5b;
	margin-right: 25px;
}
.mod-txt .txt-bd .lan-item.active {
	color: #22409a;
	font-weight: bold;
}
.mod-txt .txt-bd .lan-item:hover {
	color: #22409a;
	text-decoration: underline;
}