/* mod-media */

.mod-media .media-hd {
    font-size: 16px;
    color: #333333;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.media-hd .list-header,
.media-bd .problem-list .problem-item,
.media-bd .status-list .status-item {
    display: flex;
}
.list-header .title,
.problem-item .problem-tit {
    display: block;
    flex: 3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-header .source,
.problem-item .problem-source {
    display: flex;
    flex: 1;
    justify-content: center;
}
.list-header .ratio,
.problem-item .problem-ratio {
    display: flex;
    flex: 2;
    justify-content: center;
}

.media-bd .problem-list .problem-item,
.media-bd .status-list .status-item {
    padding: 12px 0;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
    font-size: 14px;
}
.problem-item .problem-tit a {
    color: #333;
}

.contest-item .contest-tit {
    font-size: 16px;
    margin-bottom: 5px;
    position: relative;
}
.contest-item .contest-tit a {
    color: #22409a;
}
.problem-item .problem-tit a:hover,
.contest-item .contest-tit a:hover {
    text-decoration: underline;
}
.contest-item .contest-txt {
    font-size: 14px;
    line-height: 1.5;
}

.media-bd .contest-list .contest-item {
    padding: 10px 0 2px 0;
    border-bottom: 1px solid #e0e0e0;
}
.contest-item .contest-tit span {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #f3f3f3;
    transform: translateY(-2px);
    background: #a8adb1;
    margin-right: 10px;
}
.contest-item .contest-tit .contest-status.in-progress {
    background: #fbcd36;
}
.contest-item .contest-tit .contest-status.in-future {
    background: #22409a;
}
.contest-item .contest-tit .contest-status.ended {
    background: #a8adb1;
}
.contest-item .contest-tit .contest-access.private {
    background: #f26c68;
}
.contest-item .contest-tit .contest-access.public {
    background: #1f8d85;
}


/* status */
.list-header .status-tit,
.status-item .item-tab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.status-media .run-id {
    flex: .5;
}
.status-media .user-name {
    flex: 1.2;
}
.status-media .status,
.status-media .submit-time {
    flex: 1.5;
}

.status-item .status.ac {
    color: #0ec400;
}
.status-item .status.wt {
    color: #fbcd36;
}
.status-item .status.pe,
.status-item .status.ce,
.status-item .status.se,
.status-item .status.wa {
    color: #d60600;
}