/* mod-sign */

.mod-sign {
	display: block;
	width: 340px;
	margin: 64px auto 86px auto;
}

.mod-sign .sign-hd {
	text-align: center;
	font-size: 24px;
	color: #535353;
	margin-bottom: 30px;
}

.mod-sign .sign-bd {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 36px;
	border: 1px solid #b2b2b2;
	border-radius: 10px;
	background: #ffffff;
}

.sign-bd .form-body .form-item {
	margin-bottom: 24px;
}
.form-body .form-item label {
	display: block;
	font-size: 16px;
	color: #535353;
	margin-bottom: 8px;
}
.form-body .form-item label .must-be {
	color: #ff2c2c;
}
.form-body .form-item input {
	width: 100%;
	height: 32px;
	border-radius: 5px;
	border: 1px solid #8a8a8a;
	text-indent: 5px;
	font-size: 14px;
}
.form-body .form-btn .btn {
	display: block;
	width: 100%;
	height: 32px;
	border-radius: 5px;
	background: #22409a;
	color: #ffffff;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
}
.form-body .form-exp {
	height: 16px;
	line-height: 16px;
	margin-top: 8px;
	color: #ff2020;
	text-align: left;
}
/*.form-body .form-exp .exp {
	font-size: 14px;
	color: #22409a;
	text-decoration: underline;
}*/